body{
    background: url(brique.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    text-align: center;
    
}

#poster{
    height: 40vh;
    width: 80vw;
    background: lightblue;
    margin: 5px; 
    border: 2px solid white;
}
#poster img{
    height: 100%;
    width: 70vw;
    margin: 5px; 
}

#answer{
    height: 80px;
    width: 80vw;
    background: rgb(95, 58, 112);
    margin: 5px; 
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
}
#lettercontainer{
    display: flex;
    flex-wrap: wrap;
}

.letterb,.lettera,.letterc,.letterd
,.lettere,.letterf,.letterg,.letterh
,.letteri,.letterj{
    height: 50px;
    line-height: 50px;
    width: 50px;
    background: lightsalmon;
    margin: 5px;
    font-size: 1.2rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    
    background: rgb(146, 219, 162);
    border-radius: 10px; 

}
button{
    width: 9rem;
    font-size: 1.5rem;
    margin: 3rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: none;
    background: rgba(146, 219, 162, 0.712);
    border-radius: 10px;
}
div{
    display: flex;
    justify-content: center;
}
#lestenme{
    width: 9rem;
    font-size: 1.5rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: none;
    background: rgb(214, 96, 96);
    border-radius: 10px;
}